<uib-accordion close-others="false">
<div uib-accordion-group class="panel-default" is-open="collapsibles.settings">
	<uib-accordion-heading>
	<h4>Ustawienia wyszukiwania<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': collapsibles.settings, 'glyphicon-chevron-right': !collapsibles.settings}"></i></h4>
	</uib-accordion-heading>
	<div>
		<p>By móc korzystać z wyszukiwarki przystanków w pobliżu musisz dać uprawnienia do pobrania Twojej lokalizacji.</p>
	</div>
	<div class="input-group">
		<label class="input-group-text" for="limitSelect">Liczba najbliższych przystanków:</label>
		<select class="custom-select" id="limitSelect" ng-model="selected.limit" ng-options="opt for opt in options.limit"></select>
	</div>
	<div class="input-group">
		<label class="input-group-text" for="rangeSelect">Zakres wyszukiwania:</label>
		<select class="custom-select" id="rangeSelect" ng-model="selected.range" ng-options="opt.val as opt.key for opt in options.range"></select>
	</div>

	<button class="btn btn-default" ng-click="update()">Zapisz</button>
</div>
</uib-accordion>
<uib-accordion close-others="false">
<div uib-accordion-group class="panel-info" is-open="collapsibles.map">
<uib-accordion-heading>
<h4>Najbliższe przystanki<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': collapsibles.map, 'glyphicon-chevron-right': !collapsibles.map}"></i></h4>
</uib-accordion-heading>
<div id="map" elem-ready="elemReady()"></div>
</div>
</uib-accordion>
<uib-tabset active="tabId">
<uib-tab ng-repeat="stop in stops track by $index"  heading="{{stop.name}} {{stop.code}}" ng-click="tabClicked($index)">
<estimate is-main="$index === 0 ? true : false" stop-ids="stopIds[$index]" tab-id="$index"/>
</uib-tab>
</uib-tabset>
<div ng-if="hasError" class="panel panel-danger">
<div class="panel-heading">
	<h4>Problem z ładowaniem danych. Spróbuj później</h4>
</div>
</div>
<div ng-if="notFound">
<div class="panel panel-warning">
	<div class="panel-heading">
		<h4>Brak pojazdów komunikacji miejskiej dla tego przystanku.</h4>
	</div>
</div>
</div>
<div ng-if="isLoading" class="loader"></div>