<div>
	<div ng-if="lastUpdate != ''" class="panel panel-default" style="margin-top: 10px;">
		<div class="panel-heading">
			<h4>Ostatnia aktualizacja danych: {{lastUpdate}}. Wyniki są odświeżane automatycznie co {{updateInterval}} sekund.</h4>
		</div>
	</div>

	<div ng-show="announcements" ng-repeat="announcement in announcements">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4>{{announcement.message}}</h4>
			</div>
		</div>
	</div>

	<div ng-repeat="delay in delays">
		<div class="panel panel-default" ng-class="delay.delayInSeconds <= 0 ? 'panel-success' : 'panel-danger'">
			<div class="panel-heading">
				<h4>{{delay.routeId}}: {{delay.headsign}}</h4>
			</div>
			<div class="panel-body">
				<p>{{delay.delayInSeconds | delayText}} {{delay.delayInSeconds | delayToTime | date:'mm:ss'}}</p>
				<p>Czas estymowany: {{delay.estimatedTime}}</p>
				<p>Czas według rozkładu: {{delay.theoreticalTime}}</p>
			</div>
		</div>
	</div>
</div>