<uib-accordion ng-show="messages.length > 0" close-others="false">
	<div uib-accordion-group class="panel-warning" ng-init="collapsibles.announcements = true" is-open="collapsibles.announcements">
		<uib-accordion-heading>
			<h4>Komunikaty<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': collapsibles.announcements, 'glyphicon-chevron-right': !collapsibles.announcements}"></i></h4>
		</uib-accordion-heading>
		<div class="panel-body">
			<p ng-repeat="message in messages">{{message}}</p>
		</div>
	</div>
</uib-accordion>