<uib-tabset active="tabId">
<uib-tab heading="Wołkowyska-Centrum" ng-click="tabClicked([1848, 14547])">
<estimate is-main="true" stop-ids="[1848, 14547]" tab-id="0"/>
</uib-tab>
<uib-tab heading="Wołkowyska-Jasień" ng-click="tabClicked([1849])">
<estimate stop-ids="[1849]" tab-id="1"/>
</uib-tab>
<uib-tab heading="Warneńska-Centrum" ng-click="tabClicked([1374, 14540])">
<estimate stop-ids="[1374, 14540]" tab-id="2"/>
</uib-tab>
<uib-tab heading="Warneńska-Migowo" ng-click="tabClicked([1371, 14539])">
<estimate stop-ids="[1371, 14539]" tab-id="3"/>
</uib-tab>
</uib-tabset>

<div ng-if="hasError" class="panel panel-danger">
	<div class="panel-heading">
		<h4>Problem z ładowaniem danych. Spróbuj później</h4>
	</div>
</div>
<div ng-if="isLoading" class="loader"></div>